$tablet-resolution: 768px
$desktop-resolution: 1280px

@mixin tablet 
  @media (min-width: $tablet-resolution) 
    @content
  


@mixin desktop 
  @media (min-width: $desktop-resolution) 
    @content

    
.header
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

.hero-quote
    width: 85%
    height: auto

    @include tablet
        width: 50%
    
.spaces
    width: 100%
    height: 100%
    display: flex
    flex-direction: column

    &__carousel
        width: 100%
        display: flex
        list-style: none
        justify-content: space-between
        padding: 0 1%
        flex-wrap: wrap
        
        @tablet
            flex-direction: row

        &-item
            width: 100%
            height: 20rem

            @include tablet
                width: 50%

            @include desktop
                width: 27%
                height: 25rem

            &--center
                @include tablet
                    order: 1
                    width: 100%

                @include desktop
                    order: 0
                    width: 46%

            &--img-1
                background: url("../assets/space-1.png")
                background-size: cover
                background-position:  50% 100%

            &--img-2
                background: url("../assets/space-2.png")
                background-size: cover
                background-position:  50% 100%

            &--img-3
                background: url("../assets/space-3.png")
                background-size: cover
                background-position:  50% 100%
       
            
    &__interactive-heading
        display: flex
        justify-content: center
        align-items: center
        padding: 4rem


    &__interactive-heading > .h2
        display: flex
        align-items: flex-start
        flex-direction: column
        font-size: 2rem

        @include tablet
            font-size: 3.75rem
    
    &__center-text
        color: rgb(200, 182,163)
        position: relative
        width: 400px
        height: 2.5rem

        @include tablet 
            height: 4.25rem


    
.services
    background: url("../assets/bckgd-03.jpg")
    background-size: cover
    background-repeat: no-repeat
    width: 100%
    overflow: hidden

    &__heading
        width: 40rem
        margin: 0 1rem
        white-space: nowrap

        &.h2
            font-size: 1.6rem

            @include tablet
                font-size:  3.75rem
        
        &-container
            display: flex
            height: 10rem
            justify-content: space-between
            align-items: center

        &-line
            height: 1px
            width: 100%
            background-color: white

    &__list
        display: flex
        padding: 1rem 9rem 3rem 9rem
        list-style: none
        flex-wrap: wrap
        align-items: center
        justify-content: center


    &__list-item
        height:  15rem
        width: 15rem
        border-radius: 100%
        border: 1px solid rgba(255,255,255, .5)
        display: flex
        align-items: center
        justify-content: center
        padding: 1rem
        margin: 1rem

        &:hover
            background-color: rgb(200, 182, 163)
            border-color: rgb(200, 182, 163)
            color: black
            transition: background-color 1s ease
            transition: color 1s ease

            
    &__link
        font-family: "Saol Display"
        weight: 600
        color: white
        text-align: center
        text-decoration: none
        font-size: 1.75rem
        line-height: 2.1rem
        height: 20%

.socials
    background-color: rgb(200, 182,163)

    &__heading
        color: white
        height: 7.5rem
        display: flex
        align-items: center
        justify-content: center
        font-family: "Saol Display"
        font-size: 3.75rem
        font-weight: 200

    &__container
        display: flex
        flex-direction: column
        width: 100%
        // height: 25rem

        @include desktop
            flex-direction: row
            width: 100%
            height: 30rem
            
        
        
    &__group
        width: 100%
        height: 30rem
        display: flex
        height: 20rem

        @include tablet
            height: 25rem


        @include desktop
            width: 50%
            height: 100%
            display: flex


        

        

    &__group-big
        background-image: url("../assets/post-1.png")
        width: 65%
        height: 100%
        background-size: cover
        background-position: center
        background-repeat: no-repeat



    &__group-col
        width: 35%
        height: 100%
        display: flex
        flex-direction: column

        &--offset
            order: -1
            
            @include desktop
                order: 0

    &__group-small
        background-image: url("../assets/post-1.png")
        width: 100%
        height: 50%
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        
    &__link
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        width: 100%

        &:hover 
            background-color: rgba(200, 182, 163,.5)
            transition: .5s ease
                

            & .socials__post-logo
                display: flex
                transition: .5s ease




    &__post-image
        height: 100%
        width: 100%
        opacity: 1
    
    
    &__post-logo
        display: none
        height: 100%
        width: 100%
        top: 0
        left: 0
        display: flex
        align-items: center
        justify-content: center
            

#socials-anchor,
#spaces-anchor,
#services-anchor
    scroll-behavior: smooth


