.header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-quote {
  width: 85%;
  height: auto;
}
@media (min-width: 768px) {
  .hero-quote {
    width: 50%;
  }
}

.spaces {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.spaces__carousel {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0 1%;
  flex-wrap: wrap;
}
@tablet {
  .spaces__carousel {
    flex-direction: row;
  }
}
.spaces__carousel-item {
  width: 100%;
  height: 20rem;
}
@media (min-width: 768px) {
  .spaces__carousel-item {
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .spaces__carousel-item {
    width: 27%;
    height: 25rem;
  }
}
@media (min-width: 768px) {
  .spaces__carousel-item--center {
    order: 1;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .spaces__carousel-item--center {
    order: 0;
    width: 46%;
  }
}
.spaces__carousel-item--img-1 {
  background: url("../assets/space-1.png");
  background-size: cover;
  background-position: 50% 100%;
}
.spaces__carousel-item--img-2 {
  background: url("../assets/space-2.png");
  background-size: cover;
  background-position: 50% 100%;
}
.spaces__carousel-item--img-3 {
  background: url("../assets/space-3.png");
  background-size: cover;
  background-position: 50% 100%;
}
.spaces__interactive-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
.spaces__interactive-heading > .h2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .spaces__interactive-heading > .h2 {
    font-size: 3.75rem;
  }
}
.spaces__center-text {
  color: rgb(200, 182, 163);
  position: relative;
  width: 400px;
  height: 2.5rem;
}
@media (min-width: 768px) {
  .spaces__center-text {
    height: 4.25rem;
  }
}

.services {
  background: url("../assets/bckgd-03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
}
.services__heading {
  width: 40rem;
  margin: 0 1rem;
  white-space: nowrap;
}
.services__heading.h2 {
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .services__heading.h2 {
    font-size: 3.75rem;
  }
}
.services__heading-container {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
}
.services__heading-line {
  height: 1px;
  width: 100%;
  background-color: white;
}
.services__list {
  display: flex;
  padding: 1rem 9rem 3rem 9rem;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services__list-item {
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
}
.services__list-item:hover {
  background-color: rgb(200, 182, 163);
  border-color: rgb(200, 182, 163);
  color: black;
  transition: background-color 1s ease;
  transition: color 1s ease;
}
.services__link {
  font-family: "Saol Display";
  weight: 600;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.75rem;
  line-height: 2.1rem;
  height: 20%;
}

.socials {
  background-color: rgb(200, 182, 163);
}
.socials__heading {
  color: white;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Saol Display";
  font-size: 3.75rem;
  font-weight: 200;
}
.socials__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1280px) {
  .socials__container {
    flex-direction: row;
    width: 100%;
    height: 30rem;
  }
}
.socials__group {
  width: 100%;
  height: 30rem;
  display: flex;
  height: 20rem;
}
@media (min-width: 768px) {
  .socials__group {
    height: 25rem;
  }
}
@media (min-width: 1280px) {
  .socials__group {
    width: 50%;
    height: 100%;
    display: flex;
  }
}
.socials__group-big {
  background-image: url("../assets/post-1.png");
  width: 65%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.socials__group-col {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.socials__group-col--offset {
  order: -1;
}
@media (min-width: 1280px) {
  .socials__group-col--offset {
    order: 0;
  }
}
.socials__group-small {
  background-image: url("../assets/post-1.png");
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.socials__link:hover {
  background-color: rgba(200, 182, 163, 0.5);
  transition: 0.5s ease;
}
.socials__link:hover .socials__post-logo {
  display: flex;
  transition: 0.5s ease;
}
.socials__post-image {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.socials__post-logo {
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#socials-anchor,
#spaces-anchor,
#services-anchor {
  scroll-behavior: smooth;
}/*# sourceMappingURL=index.css.map */